body{
    background-color: #f1faee;
}
.nav_bar{
    position: fixed;
    top: 0;
    height: 50px;
    width: 1300px;
    display: flex;
    gap: 100px;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
    font-family:fantasy;
    color: #457b9d;
    border-bottom: #e63946 solid 2px;
    z-index: 9;
    background-color: #f1faee;
}
.nav {
    font-size: 20px;
}

.nav:hover {
    cursor: pointer;
}

#favourites{
    display: none;
}

#login{
    margin-left: auto;
    font-size: 20px;
}
#login1:hover{
    cursor: pointer;
}
#loggedIn{
    display: none;
}
#login2{
    display: none;
    color: #1d3557;
}
#login2:hover{
    cursor: pointer;
}

#changeColor{
    position: absolute;
    top: 8%;
    left: 95%;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    border: #1d3557 solid 2px;
    background-color: #f1faee;
}
#changeColor:hover{
    cursor: pointer;
    border: #fca311 solid 2px;
    background-color: #14213d;
}

.pages{
    position:absolute;
    display: flex;
    flex-direction: column;
    gap: 15px;
    top: 75px;
    width: 1285px;

}

.pages2{
    position:absolute;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    gap: 15px;
    top: 75px;
    width: 1285px;
    margin-bottom: 30px;
}

.intro{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1340px;
    font-family: cursive;
    font-size: 25px;
    text-align: center;
    color: #1d3557;
}

.main{
    display: grid;
    grid-template-columns: repeat(3, 300px);
    gap: 100px;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
}

.main2{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 100px;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

.overview{
    background-color: transparent;
    display: flex;
    width: 350px;
    height: 200px;
    border: #e63946 solid 3px;
    perspective: 1000px;
}
.overview:hover{
    cursor: pointer;
}

.pic{
    width: 150px;
    height: 200px;
}

.description{
    height: 200px;
    width: 200px;
    align-items: center;
    justify-content: center;
    font-family: monospace;
    font-size: 18px;
    color: #1d3557;
}


.title{
    font-size: 22px;
}


.img{
    width: 150px;
    height: 200px;
}
#home_page{
    /* display: none; */
}
#airing_page{
    display: none;
}
#movies_page{
    display: none;
}
#explore_page{
    display: none;
}
#favourites_page{
    display: none;
}

#log_reg{
    position:absolute;
    justify-content: center;
    align-items: center;
    top: 75px;
    width: 1285px;
    font-family:fantasy;
    font-size: 16px;
    color: #457b9d;
    display: none;
}

.lr{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: center;
    gap: 30px;
}

.info{
    width: 200px;
    height: 20px;
}

#log1{
    position: absolute;
    left: 44%;
    margin-top: 5%;
    /* display: none; */
}

#reg{
    position: absolute;
    left: 44%;
    margin-top: 5%;
    display: none;
}

.title1{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 28px;
}

.confirm {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 34px;
    background-color: #1d3557;
    color: #a8dadc;
    font-size: 20px;
}

.confirm:hover{
    cursor: pointer;
    background-color: #a8dadc;
    color: #1d3557;
}

#new_a:hover{
    cursor: pointer;
}

#user_check{
    color: #e63946;
    display: none;
}

#userCheck {
    font-size: 16px;
    color: #e63946;
    display: none;
}

#pass_check{
    color: #e63946;
    display: none;
}

#info_page {
    position: absolute;
    top: 75px;
    width: 1285px;
    height: 100vh;
    display: none;
    margin-bottom: 20px;
}


#poster{
    position: absolute;
    left: 10%;
    width: 250px;
    height: 333px;
}
#poster1{
    width: 250px;
    height: 333px;
}
#ani_title{
    position: absolute;
    left: 35%;
    width: 700px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    font-size: 32px;
    color: #f1faee;
    background-color: #1d3557;
    border: #1d3557 solid 2px;
}
#rating{
    position: absolute;
    left: 35%;
    top: 23%;
    width: 175px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border-bottom: #1d3557 solid 2px;
}
#favouriteButton{
    position: absolute;
    left: 55%;
    top: 23%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 175px;
    height: 50px;
    background-color: #f77f00;
    color: #eae2b7;
    font-size: 24px;
}
#favouriteButton:hover{
    cursor: pointer;
}
#eps{
    position: absolute;
    left: 75.9%;
    top: 23%;
    width: 175px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border-bottom: #1d3557 solid 2px;
}
#s_date{
    position: absolute;
    left: 45%;
    top: 42.9%;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border-bottom: #1d3557 solid 2px;
}

#e_date{
    position: absolute;
    left: 65%;
    top: 42.9%;
    width: 210px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border-bottom: #1d3557 solid 2px;
}
#synopsis{
    position: absolute;
    top: 55% ;
    left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}
#ani_desc{
    position: absolute;
    left: 10%;
    top: 60%;
    width: 80%;
    height: 33%;
    font-family: cursive;
    font-size: 16px;
    border-top: #1d3557 solid 2px;
}

#video{
    position: absolute;
    top: 97%;
    left: 33%;
    margin-bottom: 20px;
}

.overview2{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 325px;
    border: #e63946 solid 2px;
}
.overview2:hover{
    cursor: pointer;
}
.pic2{
    width: 200px;
    height: 250px;
}
.title2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 75px;
    font-size: 20px;
    color: #1d3557;
}

#pageSwitch{
    position: relative;
    top: 95%;
    left: 46%;
    display: inline-block;
}
.pagination{
    color: black;
    float: left;
    padding: 8px 16px;
    transition: background-color .3s;
    border: #ddd solid 2px;
}
.pagination:active{
    background-color: #4caf50;
    color: white;
    border: #4caf50 solid 2px;
}

.cardbody{
    position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.overview:hover .cardbody{
    transform: rotateY(180deg);
}
.frontside, .backside{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.frontside{
    display: flex;
}

.backside{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 200px;
    transform: rotateY(180deg);
    font-family: monospace;
    font-size: 18px;
    color: #1d3557;
}