body{
    background-color: black;
}
.nav_bar{
    height: 50px;
    display: flex;
    gap: 100px;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
    font-family:fantasy;
    color: white;
    border-bottom: yellow solid 2px;
}
.nav {

    font-size: 20px;
}
#login{
    margin-left: auto;
}
